body{
	background-color: #E0E0E0;
}

form{
	width: 250px;
	border: 5px solid pink;
        padding: 25px;
        margin-left: 400px;
	margin-top: 200px;
	background-color: #ff8080;
	
}

#submit_button{
	color: #808080;
}
#reset_button{
	color: #808080;
}
